.movies-card {
  display: grid;
  grid-template-areas: "image image" "title like" "duration duration";
  grid-template-columns: auto min-content;
  row-gap: 10px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.movies-card__img-link {
  grid-area: image;
  position: relative;
  padding-top: 55%;
}

.movies-card__image {
  object-fit: cover;
  object-position: center;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.movies-card__image:hover {
  opacity: 0.7;
}

.movies-card__title {
  grid-area: title;
  margin: 0;
  padding-top: 5px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  min-height: 36px;
  word-wrap: break-word;
  max-width: 227px;
}

.movies-card__duration {
  grid-area: duration;
  margin: 0;
  margin-top: 9px;
  color: #8B8B8B;
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 6px;
  border-top: 1px solid #424242;
}

.movies-card__like-btn {
  grid-area: like;
  background-image: url(../../images/like-movie.svg);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  width: 24px;
  height: 24px;
}

.movies-card__like-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}


.movies-card__like-btn_active {
  background-image: url(../../images/like-movie-active.svg);
}

.movies-card__like-btn_active:hover {
  cursor: pointer;
  opacity: 0.8;
}

.movies-card__delete-btn {
  background-image: url(../../images//delete-movie.svg);
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  opacity: 0;
  transition: opacity 0.3s ease;}

.movies-card__description-container {
  display: flex;
  justify-content: space-between;
}

.movies-card:hover .movies-card__delete-btn {
  opacity: 1;
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width: 920px) {
  .movies-card {
    row-gap: 12px;
  }
}

@media screen and (max-width: 590px) {
  .movies-card {
    row-gap: 1px;
  }

  .movies-card__title {
    font-size: 12px;
  }
  
  .movies-card__description {
    margin-top: 11px;
  }

  .movies-card__duration {
    font-size: 10px;
  }
  
  .movies-card__delete-btn {
    opacity: 1;
  }
}